<div data-ng-controller="RegisterController" class="col-sm-offset-3 col-sm-6">
    <h4 class="text-center">Register to Sapience</h4>

    <form name="form" data-ng-submit="register()" class="form-horizontal" novalidate>
        <ng-include src="'/modules/user/profile/views/userInfo.html'"></ng-include>
        <div class="form-group">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary" data-ng-disabled="form.$invalid">
                    <i class="fa fa-save"></i> Submit
                </button>
                <span>or</span>
                <a class="btn btn-default" data-ui-sref="login">
                    <i class="fa fa-sign-in"></i> Login
                </a>
            </div>
        </div>
    </form>
    <div class="separator">
        <hr class="separator" />
        <span class="separator">or</span>
    </div>

    <div class="col-sm-12 text-center">
        <ng-include src="'/modules/user/views/auth.html'"></ng-include>
    </div>
</div>