<!-- Angular JS -->
<script type="text/javascript" src="/lib/angular/angular.min.js"></script>
<script type="text/javascript" src="/lib/lodash/dist/lodash.min.js"></script>
<script type="text/javascript" src="/lib/angular-cookies/angular-cookies.min.js"></script>
<script type="text/javascript" src="/lib/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="/lib/angular-ui-router/release/angular-ui-router.js"></script>
<script type="text/javascript" src="/lib/angular-base64/angular-base64.js"></script>

<!-- Angular UI -->
<script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap.js"></script>
<script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>


<!-- Application Depedencies -->
<script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/lib/highcharts/highcharts.js"></script>
<script type="text/javascript" src="/lib/highcharts/highcharts-more.js"></script>
<script type="text/javascript" src="/lib/highcharts/modules/exporting.js"></script>

<!-- Application Init -->
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/routes.js"></script>

<!-- Notification module -->
<script type="text/javascript" src="/modules/notification/notificationModule.js"></script>
<script type="text/javascript" src="/modules/notification/notificationService.js"></script>
<script type="text/javascript" src="/modules/notification/notificationController.js"></script>

<!-- Home Module -->
<script type="text/javascript" src="/modules/home/headerController.js"></script>

<!-- Login Module -->
<script type="text/javascript" src="/modules/user/userModule.js"></script>
<script type="text/javascript" src="/modules/user/userResource.js"></script>
<script type="text/javascript" src="/modules/user/userService.js"></script>
<script type="text/javascript" src="/modules/user/userRoutes.js"></script>
<script type="text/javascript" src="/modules/user/login/loginController.js"></script>
<script type="text/javascript" src="/modules/user/logout/logoutController.js"></script>
<script type="text/javascript" src="/modules/user/register/registerController.js"></script>
<script type="text/javascript" src="/modules/user/profile/profileController.js"></script>

<!-- Dashboard Module -->
<script type="text/javascript" src="/modules/productSelector/productSelectorController.js"></script>
<script type="text/javascript" src="/modules/dashboard/dashboardController.js"></script>

<!-- Expected Data Module -->
<script type="text/javascript" src="modules/expectedData/expectedDataController.js"></script>

<!-- Product Module -->
<script type="text/javascript" src="/modules/products/productListController.js"></script>
<script type="text/javascript" src="/modules/products/productResource.js"></script>
<!-- Product Module -->

<!-- Login Module -->
<!-- Login Module -->

<!-- Initialize the application -->
<script type="text/javascript" src="js/init.js"></script>

{% if (process.env.NODE_ENV == 'local') %}
<!-- Livereload script rendered -->
<script type="text/javascript" src="http://localhost:35730/livereload.js"></script>
{% endif %}
